@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #624096;
  --secondary-color: #43a69b;
  --lightgrey-color: #4b4453;
  --dark-color: #000;
  --transparent-color: transparent;
  --accent-color: #613e98;
  --red-color: #f70353;
  --gray-color: #808080;
  --grey-text: #eaeaea;
  --blue-color: #008fbe;
  --base-background-color: #f1f1f1;
  --content-background-color: #ffffff;
  --text-primary-color: #4b4453;
  --text-secondary-color: #4b4453;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  --webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

.triangle::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 0;
  border-bottom: 6px solid var(--primary-color);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: var(--base-background-color) !important;
  color: var(--primary-color) !important;
  border-radius: 4px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.swiper-button-prev {
  left: 8px;
}

.swiper-button-next {
  right: 8px;
}

.prod-slider::-webkit-scrollbar {
  width: 0.2rem;
  background-color: white;
}

.prod-slider::-webkit-scrollbar-thumb {
  height: 2px;
  background-color: #eeeeee;
}
